
$blue: #04151F;
$yellow: #E3B505;
$red: #660000;
$project: #383B53;
$about: #490026;
$contact: #022B3A;


@mixin flexus (){
    display: flex;
    flex-direction: column;
}



*{
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    overflow: hidden;
    nav {
        position: absolute;
        z-index: 2;
        width: 4%;
        height: 100vh;
        margin: auto;
        background-color: $blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo{
            width: 100%;
            display: flex;
            justify-content: center;    
            img {
                margin-top: 40%;
                width: 60%;
                
            }
        }.menu {
            height: 65%;
            display: flex;
            justify-content: center;
            align-items: center;
            ul {
                display: flex;
                
                flex-flow: column;
                width: 100%;
                li {
                    width: 100%;
                    
                    a {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        img{
                            width: 60%;
                        }
                    }
                }
            }
        }.icons {
            width: 100%;   
            ul {
                width: 100%;
                display: flex;
                flex-flow: column;         
                li {
                    width: 100%;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    a img{
                        width: 70%;
                        padding-top: 25%;
                    }
                }
            }
        } 
    }.s1 {
        background-color: $yellow;
        .rightCol{
            z-index: 5;
            top: 0;
            right: 0;
            position: absolute;
            width: 33%;
            height: 100%;
            background-color: $blue;
        }
                
    }.s2 {
        background-color: $project;
        .rightCol{
            z-index: 5;
            top: 0;
            right: 0;
            position: absolute;
            width: 33%;
            height: 100%;
            background-color: $yellow;
        }
                
    }.s3 {
        background-color: $about;
        .rightCol{
            z-index: 5;
            top: 0;
            right: 0;
            position: absolute;
            width: 33%;
            height: 100%;
            background-color: $project;
        }
                
    }.s4 {
        background-color: $contact;
        .rightCol{
            z-index: 5;
            top: 0;
            right: 0;
            position: absolute;
            width: 33%;
            height: 100%;
            background-color: $about;
        }
                
    }
}















