* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  overflow: hidden;
}

html nav, body nav {
  position: absolute;
  z-index: 2;
  width: 4%;
  height: 100vh;
  margin: auto;
  background-color: #04151F;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html nav .logo, body nav .logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

html nav .logo img, body nav .logo img {
  margin-top: 40%;
  width: 60%;
}

html nav .menu, body nav .menu {
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html nav .menu ul, body nav .menu ul {
  display: flex;
  flex-flow: column;
  width: 100%;
}

html nav .menu ul li, body nav .menu ul li {
  width: 100%;
}

html nav .menu ul li a, body nav .menu ul li a {
  width: 100%;
  display: flex;
  justify-content: center;
}

html nav .menu ul li a img, body nav .menu ul li a img {
  width: 60%;
}

html nav .icons, body nav .icons {
  width: 100%;
}

html nav .icons ul, body nav .icons ul {
  width: 100%;
  display: flex;
  flex-flow: column;
}

html nav .icons ul li, body nav .icons ul li {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

html nav .icons ul li a img, body nav .icons ul li a img {
  width: 70%;
  padding-top: 25%;
}

html .s1, body .s1 {
  background-color: #E3B505;
}

html .s1 .rightCol, body .s1 .rightCol {
  z-index: 5;
  top: 0;
  right: 0;
  position: absolute;
  width: 33%;
  height: 100%;
  background-color: #04151F;
}

html .s2, body .s2 {
  background-color: #383B53;
}

html .s2 .rightCol, body .s2 .rightCol {
  z-index: 5;
  top: 0;
  right: 0;
  position: absolute;
  width: 33%;
  height: 100%;
  background-color: #E3B505;
}

html .s3, body .s3 {
  background-color: #490026;
}

html .s3 .rightCol, body .s3 .rightCol {
  z-index: 5;
  top: 0;
  right: 0;
  position: absolute;
  width: 33%;
  height: 100%;
  background-color: #383B53;
}

html .s4, body .s4 {
  background-color: #022B3A;
}

html .s4 .rightCol, body .s4 .rightCol {
  z-index: 5;
  top: 0;
  right: 0;
  position: absolute;
  width: 33%;
  height: 100%;
  background-color: #490026;
}
