body{
    background-color: #222;
}
    

.container {
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
}

.feu {
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100px;
    height: 280px;
    background-color: rgb(53, 53, 53);
    border-radius: 950px;
    
}

.red{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgba(255, 0, 0, 0.5);
    margin: auto;
}

.red:hover{
    background-color: rgb(255, 0, 0);
    box-shadow: 8px 4px 8px 4px rgba(255, 0, 0, 0.2), 0px 0px 25px 6px rgba(255, 0, 0, 0.199);
}

.yellow{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(255, 255, 4, 0.5);
    margin: auto;
    cursor: pointer;
}


.yellow:hover{
    background-color: rgba(255, 255, 4);
    box-shadow: 8px 4px 8px 4px rgba(255, 251, 0, 0.2), 0px 0px 25px 6px rgba(255, 238, 0, 0.199);
}


.green{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(0, 128, 0, 0.5);
    margin: auto;
    cursor: pointer;
}


.green:hover{
    background-color: rgba(0, 128, 0);
    box-shadow: 8px 4px 8px 4px rgba(0, 128, 0, 0.2), 0px 0px 30px 5px rgba(0, 128, 0, 0.199);
}



/* ............................................................................................ */
/* allumage d'un feu tricolore................................................................ */
/* ................................................................................................ */

@keyframes allumeRED {
    0% {
        background-color: rgba(255, 0, 0, 0.5);
        box-shadow: 0 0 rgba(rgb(239, 97, 97), 1);
    }
    100%{
        background-color: rgba(255, 0, 0);
        box-shadow: 0px 0px 6px 6px rgba(255, 0, 0, 0.3), 0px 0px 25px 6px rgba(255, 0, 0);
    }
   
}

@keyframes allumeYELLOW {
    0% {
        background-color: rgba(255, 255, 4, 0.5);
        box-shadow: 0 0 rgba(rgb(239, 225, 97), 1);
    }
    100%{
        background-color: rgba(255, 255, 4);
        box-shadow: 0px 0px 6px 6px rgba(255, 251, 0, 0.2), 0px 0px 25px 6px rgba(255, 238, 0);
    }
   
}

@keyframes allumeGREEN {
    0% {
        background-color: rgba(0, 128, 0, 0.5);
        box-shadow: 0 0 rgba(rgb(114, 239, 97), 1);
    }
    100%{
        background-color: rgba(0, 128, 0);
        box-shadow: 0px 0px 6px 6px rgba(0, 128, 0, 0.3), 0px 0px 25px 6px rgba(0, 128, 0);
    }
   
}



.feu2 {
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100px;
    height: 280px;
    background-color: rgb(53, 53, 53);
    border-radius: 950px;
}

.red2{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgba(255, 0, 0, 0.5);
    margin: auto;
    animation: allumeRED 2s ease-in-out infinite;
    animation-delay: 4000ms;
    animation-duration: 2000ms;
}

.yellow2{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(255, 255, 4, 0.5);
    margin: auto;
    cursor: pointer;
    animation: allumeYELLOW 2s ease-in-out infinite;
    animation-delay: 5000ms;
    animation-duration: 3000ms;
}


.green2{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(0, 128, 0, 0.5);
    margin: auto;
    cursor: pointer;
    animation: allumeGREEN 2s ease-in-out infinite;
    animation-delay: 7000ms;
    animation-duration: 2000ms;
}



